@import url('https://fonts.googleapis.com/css2?family= Space+Mono:wght@700 & display = swap');

:root {
    /* ----- Primary ----- */

    --Strongcyan: hsl(172, 67%, 45%);

    /* ----- Neutral ----- */

    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

    /* ----- Footer ----- */
    --Pink: hsl(327, 88%, 50%);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monoespaçado;
    background-color: var(--Lightgrayishcyan);
    text-align: center;
    margin-top: 5em;
    
}

.conteudo {
    background-color: var(--White);
    width: 50vw;
    height: 30vh;
    margin: 5em 20em;
}

h1 {
    color: var(--Verydarkcyan);
}

p1 {
    color: var(--Darkgrayishcyan);
}

.valor {
    display: block;
}

botton1, botton2, botton3, botton4, botton5, botton6 {
    margin: 1em 3em;
    padding: .5em;
    color: var(--White);
    background-color: var(--Verydarkcyan);
    border-radius: 10px;
    width: 25vw;
}


p2 {
    color: var(--White);
    background-color: var(--Verydarkcyan);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
        color: var(--Pink); 
}
