@import url('https://fonts.googleapis.com/css2?family= Space+Mono:wght@700 & display = swap');

<body {
    font-family: 'Space Mono', monoespaçado;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
        color: hsl(327, 88%, 50%); 
}
